* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #36393B;
    padding: 2% 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5D8FF;
    width: 100%;
    height: 20vh;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

header #searchbar {
    text-align: center;
    height: 7rem;
    outline: 0;
    background-color: #A5D8FF;
    font-size: 400%;
}

button {
    height: 7rem;
    width: 5%;
    border: none;
    background-color: #A5D8FF;
}

button:hover {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    color: #AFD0D6;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5D8FF;
    height: 20vh;
}